form {
    border: 3px solid #f1f1f1;
    margin:0px 150px;
    }

h2{
text-align: center;
}

.imgcontainer{
text-align: center;
}

input[type=text], input[type=password] {
width: 100%;
text-align: center;
padding: 12px 20px;
margin: 8px 0px;
box-sizing: border-box;
display: inline-block;
  border: 1px solid #ccc;
}

.container {
 text-align: center;
 padding: 0px 300px;
}

img.avatar {
 border-radius: 50%;
}

button {
 background-color: #04AA6D;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 100%;
}

button:hover {
 opacity: 0.2;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f1f6f9;
}

.layout h1 {
  color: #14274e;
}

.mobile {
  background-color: #394867 !important;
}

.mobile h1 {
  color: #f1f6f9;
}

.tablet {
  background-color: #14274e;
}

.tablet h1 {
  color: #9ba4b4;
}